Repository MessagePack-CSharp/MessagePack-CSharp, pull requests merged in 2024-10, with the labels that each got.

#1990 Reconcile AllowPrivate behavior
  doc/analyzers/MsgPack013.md
  doc/analyzers/MsgPack014.md
  doc/analyzers/MsgPack015.md
  doc/analyzers/index.md
  src/MessagePack.Analyzers.CodeFixes/CodeFixes/MessagePackCodeFixProvider.cs
  src/MessagePack.Analyzers.CodeFixes/CodeFixes/MsgPack015CodeFixProvider.cs
  src/MessagePack.Annotations/Attributes.cs
  src/MessagePack.SourceGenerator/AnalyzerReleases.Unshipped.md
  src/MessagePack.SourceGenerator/Analyzers/MsgPack00xMessagePackAnalyzer.cs
  src/MessagePack.SourceGenerator/CodeAnalysis/CodeAnalysisUtilities.cs
  src/MessagePack.SourceGenerator/CodeAnalysis/ObjectSerializationInfo.cs
  src/MessagePack.SourceGenerator/CodeAnalysis/TypeCollector.cs
  src/MessagePack.SourceGenerator/Utils/Constants.cs
  src/MessagePack.SourceGenerator/Utils/RoslynAnalyzerExtensions.cs
  src/MessagePack/Resolvers/DynamicObjectResolver.cs
  tests/MessagePack.GeneratedCode.Tests/CompositeResolverTests.cs
  tests/MessagePack.SourceGenerator.ExecutionTests/CustomFormatterRecord.cs
  tests/MessagePack.SourceGenerator.ExecutionTests/Derived1.cs
  tests/MessagePack.SourceGenerator.ExecutionTests/Derived2.cs
  tests/MessagePack.SourceGenerator.ExecutionTests/ExecutionTests.cs
  tests/MessagePack.SourceGenerator.ExecutionTests/HasInitProperty.cs
  tests/MessagePack.SourceGenerator.ExecutionTests/HasPrivateSerializedMembers.cs
  tests/MessagePack.SourceGenerator.ExecutionTests/HasPropertiesWithGetterAndCtor.cs
  tests/MessagePack.SourceGenerator.ExecutionTests/HasPropertiesWithGetterAndSetter.cs
  tests/MessagePack.SourceGenerator.ExecutionTests/HasPropertyWithCustomFormatterAttribute.cs
  tests/MessagePack.SourceGenerator.ExecutionTests/HasPropertyWithTypeWithCustomFormatter.cs
  tests/MessagePack.SourceGenerator.ExecutionTests/HasRequiredMembers.cs
  tests/MessagePack.SourceGenerator.ExecutionTests/IMyType.cs
  tests/MessagePack.SourceGenerator.ExecutionTests/MyMessagePackObject.cs
  tests/MessagePack.SourceGenerator.ExecutionTests/UnionContainer.cs
  tests/MessagePack.SourceGenerator.ExecutionTests/UnserializableRecord.cs
  tests/MessagePack.SourceGenerator.MapModeExecutionTests/ClassWithUseMapAndMembersOfVariousVisibility.cs
  tests/MessagePack.SourceGenerator.MapModeExecutionTests/MapModeExecutionTests.cs
  tests/MessagePack.SourceGenerator.Tests/GenerationTests.cs
  tests/MessagePack.SourceGenerator.Tests/MsgPack00xAnalyzerTests.cs
  tests/MessagePack.SourceGenerator.Tests/MsgPack011PartialTypeRequiredTests.cs
  tests/MessagePack.SourceGenerator.Tests/MsgPack015AllowPrivateRequiredTests.cs
  tests/MessagePack.SourceGenerator.Tests/MultipleTypesTests.cs
  tests/MessagePack.SourceGenerator.Tests/PrivateMemberAccessTests.cs
  tests/MessagePack.SourceGenerator.Tests/Resources/AdditionalFormatterTypes_RedundantAttribute/Formatters.MessagePack.GeneratedMessagePackResolver.TypeWithAutoGeneratedFormatterFormatter.g.cs
  tests/MessagePack.SourceGenerator.Tests/Resources/AdditionalFormatterTypes_RedundantAttribute/MessagePack.GeneratedMessagePackResolver.g.cs
  tests/MessagePack.SourceGenerator.Tests/Resources/FormatterForClassWithPrivateMembers_MapMode/Formatters.MyObject.MyObjectFormatter.g.cs
  tests/MessagePack.SourceGenerator.Tests/Resources/FormatterForClassWithPrivateMembers_MapMode/MessagePack.GeneratedMessagePackResolver.g.cs
  tests/MessagePack.SourceGenerator.Tests/Verifiers/CSharpCodeFixVerifier`2+Test.cs
  tests/MessagePack.Tests/DynamicObjectResolverTests.cs
  tests/MessagePack.Tests/MessagePack.Tests.csproj
Labels: source generation, analyzer

#2003 Add analyzers to help recognize breaking changes
  doc/analyzers/MsgPack016.md
  doc/analyzers/MsgPack017.md
  doc/analyzers/index.md
  doc/migrating_v2-v3.md
  src/MessagePack.SourceGenerator/AnalyzerReleases.Unshipped.md
  src/MessagePack.SourceGenerator/Analyzers/MsgPack00xMessagePackAnalyzer.cs
  src/MessagePack.SourceGenerator/CodeAnalysis/TypeCollector.cs
  src/MessagePack.SourceGenerator/Utils/RoslynAnalyzerExtensions.cs
  tests/MessagePack.SourceGenerator.Tests/MsgPack00xAnalyzerTests.cs
Labels: analyzer

#2016 Avoid collecting members when it doesn't have [Key]
  src/MessagePack.SourceGenerator/CodeAnalysis/TypeCollector.cs
  tests/MessagePack.SourceGenerator.Tests/GenerationTests.cs
  tests/MessagePack.SourceGenerator.Tests/Resources/NoPrivateMemberCollected/Formatters.MessagePack.GeneratedMessagePackResolver.TestFormatter.g.cs
  tests/MessagePack.SourceGenerator.Tests/Resources/NoPrivateMemberCollected/MessagePack.GeneratedMessagePackResolver.g.cs
Labels: source generation

#2028 Avoid collecting fields with custom formatter recusively
  src/MessagePack.SourceGenerator/CodeAnalysis/TypeCollector.cs
  tests/MessagePack.SourceGenerator.Tests/GenerationTests.cs
  tests/MessagePack.SourceGenerator.Tests/MsgPack00xAnalyzerTests.cs
  tests/MessagePack.SourceGenerator.Tests/Resources/CustomFormatterViaAttributeOnField(False)/Formatters.MessagePack.GeneratedMessagePackResolver.HasFieldWithCustomFormatterAttributeFormatter.g.cs
  tests/MessagePack.SourceGenerator.Tests/Resources/CustomFormatterViaAttributeOnField(False)/MessagePack.GeneratedMessagePackResolver.g.cs
  tests/MessagePack.SourceGenerator.Tests/Resources/CustomFormatterViaAttributeOnField(True)/Formatters.MessagePack.GeneratedMessagePackResolver.HasFieldWithCustomFormatterAttributeFormatter.g.cs
  tests/MessagePack.SourceGenerator.Tests/Resources/CustomFormatterViaAttributeOnField(True)/MessagePack.GeneratedMessagePackResolver.g.cs
  tests/MessagePack.SourceGenerator.Tests/Resources/NoFieldWithCustomFormatterCollected/Formatters.MessagePack.GeneratedMessagePackResolver.TestFormatter.g.cs
  tests/MessagePack.SourceGenerator.Tests/Resources/NoFieldWithCustomFormatterCollected/MessagePack.GeneratedMessagePackResolver.g.cs
Labels: source generation

#2032 Use simpler C# syntax for nullable value types
  src/MessagePack.SourceGenerator/CodeAnalysis/QualifiedNamedTypeName.cs
  tests/MessagePack.SourceGenerator.Tests/Resources/NullableFormatter/MessagePack.GeneratedMessagePackResolver.g.cs
Labels: source generation

#2033 Fix simplified name for ValueTuple<T>
  src/MessagePack.SourceGenerator/CodeAnalysis/QualifiedNamedTypeName.cs
  tests/MessagePack.SourceGenerator.Tests/GenerationTests.cs
  tests/MessagePack.SourceGenerator.Tests/Resources/SimplifiedNameForKeywordsAndSyntaxSugar/Formatters.MessagePack.GeneratedMessagePackResolver.SampleObjectFormatter.g.cs
  tests/MessagePack.SourceGenerator.Tests/Resources/SimplifiedNameForKeywordsAndSyntaxSugar/MessagePack.GeneratedMessagePackResolver.g.cs
Labels: source generation

#2037 Fix mis-fire of `MsgPack003` on use of `Collection<T>`
  src/MessagePack.SourceGenerator/CodeAnalysis/TypeCollector.cs
  tests/MessagePack.SourceGenerator.Tests/GenerationTests.cs
  tests/MessagePack.SourceGenerator.Tests/Resources/SystemCollectionsObjectModelCollection/Formatters.MessagePack.GeneratedMessagePackResolver.AFormatter.g.cs
  tests/MessagePack.SourceGenerator.Tests/Resources/SystemCollectionsObjectModelCollection/MessagePack.GeneratedMessagePackResolver.g.cs
Labels: analyzer

#2043 Allow SequencePool to Clear self
  src/MessagePack/SequencePool.cs
  src/MessagePack/net472/PublicAPI.Unshipped.txt
  src/MessagePack/net8.0/PublicAPI.Unshipped.txt
  src/MessagePack/netstandard2.0/PublicAPI.Unshipped.txt
  src/MessagePack/netstandard2.1/PublicAPI.Unshipped.txt
Labels: enhancement
