Repository MessagePack-CSharp/MessagePack-CSharp, pull requests merged in 2024-07, with the labels that each got.

#1893 Offer code fix for MsgPack011: `partial` modifier required
  sandbox/SharedData/Class1.cs
  src/MessagePack.Analyzers.CodeFixes/CodeFixes/FormatterCodeFixProvider.cs
  src/MessagePack.Analyzers.CodeFixes/CodeFixes/MessagePackCodeFixProvider.cs
  src/MessagePack.Analyzers.CodeFixes/Usings.cs
  src/MessagePack.SourceGenerator/AnalyzerReleases.Unshipped.md
  src/MessagePack.SourceGenerator/Analyzers/MsgPack00xMessagePackAnalyzer.cs
  src/MessagePack.SourceGenerator/CodeAnalysis/CodeAnalysisUtilities.cs
  tests/MessagePack.SourceGenerator.Tests/FormatterCodeFixProviderTests.cs
  tests/MessagePack.SourceGenerator.Tests/MsgPack010InaccessibleFormatterTests.cs
  tests/MessagePack.SourceGenerator.Tests/MsgPack011PartialTypeRequiredTests.cs
  tests/MessagePack.SourceGenerator.Tests/Verifiers/CSharpCodeFixVerifier`2+Test.cs
Labels: enhancement, analyzer

#1898 Offer code fix to ignore unattribute members of MessagePackObject types
  src/MessagePack.Analyzers.CodeFixes/CodeFixes/MessagePackCodeFixProvider.cs
  src/MessagePack.SourceGenerator/AnalyzerReleases.Unshipped.md
  src/MessagePack.SourceGenerator/Analyzers/MsgPack00xMessagePackAnalyzer.cs
  src/MessagePack.SourceGenerator/CodeAnalysis/TypeCollector.cs
  tests/MessagePack.SourceGenerator.Tests/MessagePackAnalyzerTests.cs
Labels: enhancement, analyzer

#1901 Allow applying `[MessagePackFormatter]` on parameters and return values
  src/MessagePack.UnityClient/Assets/Scripts/MessagePack/Annotations/Attributes.cs
Labels: enhancement

#1905 Fix and improve generated formatters
  src/MessagePack.SourceGenerator/CodeAnalysis/TypeCollector.cs
  tests/MessagePack.SourceGenerator.Tests/GenerationTests.cs
  tests/MessagePack.SourceGenerator.Tests/Resources/DeserializingConstructorParameterMemberTypeAssignability_Incompatible/MessagePack.GeneratedMessagePackResolver.g.cs
  tests/MessagePack.SourceGenerator.Tests/Resources/DeserializingConstructorParameterMemberTypeAssignability_MemberAssignsToParamType/Formatters.MessagePack.GeneratedMessagePackResolver.AFormatter.g.cs
  tests/MessagePack.SourceGenerator.Tests/Resources/DeserializingConstructorParameterMemberTypeAssignability_MemberAssignsToParamType/MessagePack.GeneratedMessagePackResolver.g.cs
  tests/MessagePack.SourceGenerator.Tests/Resources/NonDefaultDeserializingConstructor_Private/Formatters.A.AFormatter.g.cs
  tests/MessagePack.SourceGenerator.Tests/Resources/NonDefaultDeserializingConstructor_Private/MessagePack.GeneratedMessagePackResolver.g.cs
Labels: source generation

#1912 Make source generation cancellable
  src/MessagePack.SourceGenerator/CodeAnalysis/TypeCollector.cs
Labels: source generation
